.card{
    width:300px;
    margin-bottom: 4px;

}
.container{
    justify-content: space-between;
    margin-left: 400px;
}
.fa-solid{
   position: relative;
   height: 30px;
   width: 50px;
}
.icon{
    margin-top: 40px;
    display: flex;
    justify-content: end;
    width: 590px;
}